body{
    background-color:palegreen;
}
h1{
    color: blue;
}
form {
    width: 100%;
    text-align: center;
    display: block;
}
.url {
    width: 100%;
    margin-top: 10px;
}
/* input[type=file] {
    width: 100%;
    padding: 1em;
    height: 50%;
    box-sizing: border-box;
  } */
  .filedata {
    cursor: pointer;
    font-size: 1.25em;
    width: 100%;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    padding: 10px;
    background-color:snow;
    text-align: center;
  }
  input {
      padding: 10px;
      background-color: snow;
      text-align: center;
      border: 1px solid springgreen;
      transition: box-shadow 0.8s ease-in-out, color 0.9s
  }
  button {
      background-color: steelblue;
      color: white;
      padding: 10px;
      border: 1px solid whitesmoke;
      margin-top: 10px;
      text-align: center;
  }
  div.image{
      background-color: steelblue;
      color: white;
      transition: box-shadow 0.8s ease-in-out, color 2s;
  }
  div.image:hover{
   box-shadow: 9px 13px 5px 0 slategrey;
   background: tan;
   color: navy;
  }

input:hover{
    box-shadow: 9px 13px 5px 0 slategrey;
}
div.output_detail{
    box-shadow: 9px 13px 5px 0 slategrey;
    width: 500px;
}